@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {

    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    border-radius: 0.8rem;
}

ul {
    list-style: none;
}
p {
    font-weight: 300;
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    background-color: var(--main-bg);
    color: hsl(0, 0%, 100%, 50%);;
    padding: 1.25rem;
}

.container {
    padding: 1.25rem;
    background-color: var(--card-bg);
    border-radius: 1.3rem;
    margin-bottom: 2rem;
}
 .container h2{
    margin: 0.9rem 0.5rem 0.5rem 0;
    color: var(--white);
}
.container h2:hover {
    color: var(--cyan);
    cursor: pointer;
}
.main_image{
    position: relative;
    cursor: pointer;
}
.container .main_image div {
    position: absolute;
    background-color: hsl(178, 100%, 50%, 60%);
    border-radius: 1rem;
    width: 100%;
    height: calc(100% - 4px);
    z-index: 999;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.container .main_image div:hover {
    opacity: 1;
}
.container .main_image div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.9rem 0;
    border-bottom: 2px solid var(--line);
}
.container ul li {
    display: flex;
    align-items: center;
}

.container ul li img {
    margin-right: 0.5rem;
}
.container ul li:first-child {
    color: var(--cyan);
}

.container .avatar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 2rem;
}
.container .avatar img {
    width: 4rem;
    border: 2px solid var(--white);
    border-radius: 50%;
    margin-right: 2rem;
}
.container .avatar p span {
    color: var(--white);
    font-weight: 400;
}

.container .avatar p span:hover {
    color: var(--cyan);
    font-weight: 400;
    cursor: pointer;
}



.attribution { 
    font-size: 12px; text-align: center; 

}
.attribution a {
 color: var(--cyan);
 
}

@media(min-width: 500px) {
    .container {
        width: 450px;
        margin: 0 auto 1rem;
    }
    .credits {
        width: 450px;
        margin: 0 auto;
    }
 
}